<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091685317713-j4oihs7tpor3pmn3i5tougdp5g3d559g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091685317713-j4oihs7tpor3pmn3i5tougdp5g3d559g</string>
	<key>API_KEY</key>
	<string>AIzaSyDBrKg0ZgKDF2J5IoapdwMROYvvyTb7ImE</string>
	<key>GCM_SENDER_ID</key>
	<string>1091685317713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stackgeeks.Pouch</string>
	<key>PROJECT_ID</key>
	<string>pouch-dev-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>pouch-dev-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091685317713:ios:31612dad0e2a22a8c3cc70</string>
</dict>
</plist>